<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bucket</title>
    <link rel="stylesheet" href="/static/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
</head>
<body>
<div id="wrapper">
<section class="hero has-background-info-light">
    <div class="hero-body">
        <p class="title">
            Bucket Package Repository
        </p>
        <p class="subtitle">
            by <a href="https://southwinds.io">SouthWinds Tech Ltd</a>. - <a href="/api/index.html">[Swagger API]</a>
        </p>
    </div>
</section>